* {
    margin: 0;
    padding: 0;
}

body {
    background-color: cadetblue;
}

h1 {
    font-size: 3em;
    color: white;
    font-weight: bold;
}

h2 {
    margin: 1rem;
    font-weight: bold;
}

.textInput {
    color: rgb(182, 182, 9);
}

.complete {
    color: rgb(11, 253, 11);
    font-weight: bold;
}

.remove {
    color: rgb(196, 5, 5);
    font-weight: bold;
    margin-bottom: 3rem;
}

#userInputField {
    width: 1000px;
    height: 40px;
    border-radius: 0.5rem;
}